body {
    background-color: #eff3fd;
}
.btn {
    box-shadow: 0 8px 24px 0 rgb(36 46 53 / 16%);
}
h1 {
    color: #151c50;
}
h4 {
    color: #6266eb;
}
p {
    color: #9a83fe;
    font-weight: lighter;
}