html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8vw;
    line-height: 1.4;
}

h1 {
    font-size: 4.8vw;
    line-height: 1.35;
}

h3 {
    font-size: 2vw;
    letter-spacing: normal;
    font-weight: 600;
}

h3 {
    font-size: 2vw;
}

p {
    font-size: 1vw;
    font-weight: 600;
}

a {
    font-weight: 500;
    font-size: 1vw;
    text-decoration: none;
}

button {
    font-size: 1vw;
}