<div class="task__container">
    <section class="task">
        <div class="task__sub">
            <p class="escrow">escrow</p>
            <p class="multisignature">multisignature</p>
        </div>
        <div class="task__list">
            <div class="task__block">
                <div class="task__inner">
                    <div class="task__wrapper">
                        <div class="task__item">
                            <p class="sender">sender</p>
                            <h5 class="task__address">address..</h5>
                        </div>
                        <div class="task__item">
                            <p class="sender">recipient</p>
                            <h5 class="task__address">address..</h5>
                        </div>
                    </div>
                    <div class="task__wrapper">
                        <div class="task__item">
                            <p class="task__amount">amount</p>
                            <h5 class="task__value">ZBC 10</h5>
                        </div>
                        <div class="task__item">
                            <p class="task__amount">commission</p>
                            <h5 class="task__value">ZBC 1</h5>
                        </div>
                    </div>
                </div>
                <span class="status">approved</span>
            </div>
            
        </div>
    </section>
    <section class="task__details">

    </section>
</div>
